<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li><a class="btn btn-lg btn-block" [routerLink]="['/Home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Home</a></li>
        <li><a class="btn btn-lg btn-block" [routerLink]="['/Product']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Product</a></li>
        <li><a class="btn btn-lg btn-block" [routerLink]="['/Contact']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

