<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
          <td>
            <button (click)="onClick(product)">
              View Detail
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

